html,
body,
header,
.carousel {
    height: 100%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}

.carousel,
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item,
.view,
body,
html {
    height: 100%
}

.navbar {
    background-color: rgba(0, 0, 0, .2)
}

.page-footer,
.top-nav-collapse {
    background-color: #1C2331
}

@media only screen and (max-width:768px) {
    .navbar {
        background-color: #1C2331
    }
}

a {
    color: #ffffed;
    font-size: 18px !important;
}

div.landingPageContent h1 {
    font-family: 'Fontdiner Swanky', cursive !important;
    color: #ff4457;
    font-size: 90px;    
}

div.landingPageContent p {
    color: #ffffed;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}
.landingPageContent>a.btn {
    border: #ffffed solid 2px;
    color: #ffffed;
}
/* .landingPageContent>a.btn:not() {
    border: #ffffed 2px solid;
    border-radius: unset;
} */

.map-container-5 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-5 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
