html,
body {
    font-family: 'Barlow Condensed', sans-serif;
    background-color: #f3f2f2;
    font-size: 18px;
}


/* NavBars Styling */

a.button-collapse>i {
    position: relative;
    bottom: 3px;
    left: 2px;
}

.navbarTitle {
    font-family: 'Fontdiner Swanky', cursive !important;
    color: #ff7a87;
    font-size: larger;
}

a.category {
    padding-left: 20px;
}

a.category>i {
position: relative;
    right: 5px;
}

li .collapsible-header {
    font-size: 0.9rem !important;
    padding: 0 !important;
}

.whiteCard {
    background-color: white;
}