html, body {
    font-family: 'Barlow Condensed', sans-serif;
}

/* NavBars Styling */
a.button-collapse>i {
    position: relative;
    bottom: 3px;
    left: 2px;
}
.navbarTitle {
    font-family: 'Fontdiner Swanky', cursive !important;
    color: #ff7a87;
    font-size: larger;
}

.side-nav a {
    height: 1rem;
    line-height: 1.25rem;
    font-size: 1rem;
}

li .collapsible-header {
    font-size: 0.9rem !important;
    padding: 0 !important;
}
